body {
	background: #333;
}

#title {
	color : green;
	font-family: Courier;
	font-weight: bold;
	font-size: 24px;
	text-align: center;	
}

#gameResult {
	color : red;
	font-family: Courier;
	font-weight: italic;
	font-size: 30px;
	text-align: center;	
}

canvas {
	background: white;
	display: block;
	margin: 30px auto 0px;
}